*{
    margin: 0;
    padding: 0;
}
body{
    background-color: gray;
}

@font-face {
    font-family: romanFont;
    src: url('fonts/genty/GentyDemo-Regular.otf');
}
h1{
    text-align: center;
    font-size: 100px;
    font-family: romanFont;
}
.container{
    display: flex;
    width: 40vw;
    height: 50vh;   
    margin: 5% auto;
    
}

.slide{
    width: 100%;
    height: 100%;
    display: none;
    box-shadow: -4px -4px 20px 10px rgba(0, 0, 0, 0.442);
    border-radius: 4px;
}


.active{
    display: block;
}

.slider-btn{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 47%;
    width: 52vw;
    left: 24%;
    cursor: pointer;
}

.next-btn{
    width: 5vw;
    height: 5vw;
    background-size: cover;
    background-image: url('img/right.png');
    background-repeat: no-repeat;
    cursor: pointer;
}

.prev-btn{
    width: 5vw;
    height: 5vw;
    background-image: url('img/left.png');
    background-size: cover;
    background-repeat: no-repeat;
}


@media (max-width:950px) {
    h1{
        font-size: 50px;
    }
    .container{
        margin: 18% auto;
        width: 35vw;
        height: 40vh;
    }
}

@media (max-width:860px) {
    h1{
        font-size: 30px;
    }
    .container{
        margin: 18% auto;
        width: 30vw;
        height: 30vh;
    }
    .slider-btn{
        width: 42vw;
        left: 29%;
        top: 35%;

    }
}


@media (max-width:763px) {
    h1{
        font-size: 25px;
    }
    .container{
        width: 20vw;
        height: 20vh;
    }
    .slider-btn{
        width: 30vw;
        left: 35%;
        top: 28%;
    }
}

@media (max-width:712px) {
    h1{
        font-size: 20px;
    }
    .container{
        height: 15vh;
    }
    .slider-btn{
        top: 25%;
    }
}

@media (max-width:590px) {
    h1{
        font-size: 18px;
    }
    .container{
        height: 12vh;
    }
    .slider-btn{
        top: 22%;
    }
}

@media (max-width:550px) {
    .container{
        height: 10vh;
    }
    .slider-btn{
        top: 19%;
    }
}

@media (max-width:415px) {
    .slider-btn{
        top: 15%;
    }
}

@media (max-width:360px) {
    .slider-btn{
        top: 18%;
    }
}









.dots-container{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 33%;
    top: 80%;
}

.dot{
    cursor: pointer;
    margin-left: 3%;
    width: 3vw;
    height: 2vh;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.283);
}

.dot-slide{
    width: 70%;
    height: 60%;
    background-color: black;
    border-radius: 10px;
    margin:10% auto;
}

